/* ----------------------------------------------------------- */
/*  MEDIA QUERIES SETTINGS
/* ----------------------------------------------------------- */
$desktop-width: 1199px;
$laptop-width: 991px;
$ipad-width: 768px;
$note-width: 480px;
$galaxy-width: 360px;
$iphone-width: 320px;

@mixin desktop {
	@media (max-width: #{$desktop-width}) {
		@content;
	}
}
@mixin laptop {
	@media (max-width: #{$laptop-width}) {
		@content;
	}
}
@mixin ipad {
	@media (max-width: #{$ipad-width}) {
		@content;
	}
}
@mixin note {
	@media (max-width: #{$note-width}) {
		@content;
	}
}
@mixin galaxy {
	@media (max-width: #{$galaxy-width}) {
		@content;
	}
}
@mixin iphone {
	@media (max-width: #{$iphone-width}) {
		@content;
	}
}
/* ----------------------------------------------------------- */
/*  COLORS
/* ----------------------------------------------------------- */
$joyit-gray: #EFEFEF;
$joyit-black: #343434;
$black-hover: #4e4e4e;
$joyit-red: #C0392B;

.joyit-btn {
	background: $joyit-black;
	color: white;
	font-weight: bold;
	transition: 0.5s all;
	letter-spacing: 2px;
	border-radius: 0px;
	&:hover {
		background: $black-hover;
		transition: 0.5s all;
		color: white;
	}
	@include ipad {
		width: 100%;
	}
}
.wish-btn {
	background: white;
	border-radius: 0px;
	border: 1px solid $joyit-gray;
	transition: 0.5s all;
	&:hover {
		background: $joyit-gray;
		transition: 0.5s all;
	}
	@include ipad {
		width: 100%;
	}
}




























