/* ----------------------------------------------------------- */
/*  MEDIA QUERIES SETTINGS
/* ----------------------------------------------------------- */
$desktop-width: 1199px;
$laptop-width: 991px;
$ipad-width: 768px;
$note-width: 480px;
$galaxy-width: 360px;
$iphone-width: 320px;

@mixin desktop {
	@media (max-width: #{$desktop-width}) {
		@content;
	}
}
@mixin laptop {
	@media (max-width: #{$laptop-width}) {
		@content;
	}
}
@mixin ipad {
	@media (max-width: #{$ipad-width}) {
		@content;
	}
}
@mixin note {
	@media (max-width: #{$note-width}) {
		@content;
	}
}
@mixin galaxy {
	@media (max-width: #{$galaxy-width}) {
		@content;
	}
}
@mixin iphone {
	@media (max-width: #{$iphone-width}) {
		@content;
	}
}

/* ----------------------------------------------------------- */
/*  COLORS
/* ----------------------------------------------------------- */
$joyit-gray: #EFEFEF;
$joyit-black: #343434;
$black-hover: #4e4e4e;
$joyit-red: #C0392B;

// GLOBAL
.form-control {
	border-radius: 0px;
}
#app {
	padding-bottom: 20px;
}
h1,h2,h3,h4,h5 {
	font-weight: bold;
}
body {
	background: #efefef;
	background: url(/img/pattern.png);
}
#app {
	min-height: 700px;
}
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.loading {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(/img/loading2.gif) center no-repeat #EDEDED;
}
.fa-angle-right {
	margin-top: 3px;
}
.dropdown-menu {
	width: 240px;
	border-radius: 0px !important;
	border: none !important;
	li {
		a {
			padding: 3px 10px;
		}
	}
}


// NAVBAR
.joyit-search {
	height: 50px;
	padding: 10px;
	border: none;
	border-radius: 0px;
}
.navbar {
	margin-bottom: 0px;
}
.joyit-search {
	font-size: 20px;
}
.navbar-default .navbar-nav > li > a {
	color: #fff;
	transition: 0.5s all;
	&:hover {
		color: #fff;
		background: #1b1b1b;
		transition: 0.5s all;
	}
}
.navbar-default {
	background: #343434;
	border: none;
}
.navbar-default .navbar-brand {
	color: #fff;
}

// HOME
.home-banner-text {
	@include ipad {
		font-size: 27px;
	}
}
.home-joyit-wrapper {
	margin-top: 20px;
}
.new-joyit-wrapper {
	margin-top: 20px;
}
.page-heading {
	text-transform: uppercase;
	padding-bottom: 11px;
	height: 130px;
	font-weight: bold;
	background: #80DEEA;
}
.metro-1 {
	padding: 0px;
}
.metro-link {
	// background: rgba(0,24,333,0.5);
	position: absolute;
	bottom: 0;
	left: 0;
	top: 0;
	right: 0;
}
.metro-2 {
	padding: 0px;
	.upper-metro {
		padding: 0px;
		div {
			padding: 0px;
		}
	}
	.lower-metro {
		padding: 0px;
		div {
			padding: 0px;
		}
		.lower-metro-inner {
			display: flex;
    		align-items: center;
		}
	}
}
.metro-3 {
	padding: 0px;
	div {
		padding: 0px;
	}
	.right-metro {
		display: flex;
    	align-items: center;
	}
}
.metro-4 {
	padding: 0px;
	div {
		padding: 0px;
	}
}
.metro-5 {
	padding: 0px;
	div {
		padding: 0px;
	}
}
.metro-6 {
	padding: 0px;
	div {
		padding: 0px;
	}
}

// METRO STYLE GRID
.grid-item { 
	width: 234px;
	margin-bottom: 5px;
}
.grid-2 { 
	width: 473px;
	@include ipad {
		width: 234px;
	}
}
.grid-3 { 
	width: 234px; 
	height: 473px; 
}
.grid-4 {
	width: 473px;
	height: 234px;
	@include ipad {
		display: none;
	}
}
.grid {
	margin: 0 auto;
}
.grid-related-item {
	width: 175px;
	margin-bottom: 15px;
}
.grid-related {
	@include ipad {
		display: none !important;
	}
}
.slick-related {
	display: none !important;
	@include ipad {
		display: block !important;
	}
}
// END METRO STYLE GRID

.bottom-text-block {
	position: absolute;
	bottom: 5px;
	left: 0;
	width: 100%;
	height: 40px;
	.block-name {
		color: white;
		font-weight: bold;
		padding-left: 5px !important;
	}
	.block-price {
		color: white;
		padding-left: 5px !important;
		// margin-bottom: 5px !important;
	}
}
.bottom-text-block-new {
	position: absolute;
	bottom: 5px;
	left: 0;
	width: 100%;
	height: 40px;
	.block-name {
		color: white;
		font-weight: bold;
		padding-left: 5px !important;
	}
	.block-price {
		color: white;
		padding-left: 5px !important;
		// margin-bottom: 5px !important;
	}
	.new-box {
		text-transform: uppercase;
		padding: 5px !important;
		color: white;
		background: red;
		display: flex;
		align-items: center;
		height: 45px;
		position: absolute;
		&:before {
			content: 'new';
		}
	}
	.block-detail {
		position: absolute;
		left: 45px;
	}
}
.top-box {
	text-transform: uppercase;
	padding: 5px !important;
	color: white;
	background: #f39c12;
	display: flex;
	align-items: center;
	height: 45px;
	position: absolute;
	width: 45px;
	justify-content: center;
}
.top-text-block {
	position: absolute;
	top: 0;
	left: 0;
	padding: 30px;
	text-align: center;
	@include ipad {
		right: 0;
	}
	.top-text-block-inner {
		border-top: 5px solid white;
		border-bottom: 5px solid white;
		width: 170px;
		display: inline-block;
		text-align: center;
		color: white;
		text-transform: uppercase;
		font-weight: bold;
		padding-top: 10px;
		padding-bottom: 10px;
		@include ipad {
			font-size: 12px;
		}
	}
}
.center-text-block {
	position: absolute;
	text-align: center;
	left: 0;
	right: 0;
	color: white;
	font-weight: bold;
	font-size: 24px;
	text-transform: uppercase;
}
.block-layer-inner {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 60%,rgba(0,0,0,0.4) 100%);
}
.joyit-box {
	transition: all 0.5s;
	&:hover {
		opacity: 0.5;
		transition: all 0.5s;
	}
}
.main-btn {
	border: none;
	border-radius: 0px;
	background: #e74c3c;
	color: white;
	transition: 0.5s all;
	&:hover {
		color: white;
		background: #eb6c5f;
		border: none;
		transition: 0.5s all;
	}
}

// Villain
.villain {
	background: #c0392b;
	// background: url(/img/pink_rice.png);
	color: white;
	text-align: center;
	padding-bottom: 22px;
	input {
		width: 250px;
		display: inline-block;
		border-radius: 0px;
		border: none;
	}
	button {
		border-radius: 0px;
		font-weight: bold;
		background: transparent;
		color: white;
		border: 2px solid white;
		margin-top: -3px;
		&:hover {
			background: transparent;
			// opacity: 0.8;
			border: 2px solid white;
			color: white;
		}
	}
	@include ipad {
		h2 {
			font-size: 16px;
		}
	}
}
.page-heading {
	background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png'), url('http://www.wearewebstars.dk/codepen/img//s2.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');
	-webkit-animation: snow 10s linear infinite;
	-moz-animation: snow 10s linear infinite;
	-ms-animation: snow 10s linear infinite;
	animation: snow 10s linear infinite;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}	

// PRODUCT PAGE

.product-topbar {
	background: url('/img/product-bg.png');
	margin-top: 50px;
}

.tri-tags {
	div {
		p {
			margin-top: 0px;
			margin-bottom: 0px;
			background: white;
		}
	}
	@include ipad {
		display: none !important;
	}
}
.main-item-box {
	margin-top: 15px;
	@include ipad {
		margin-top: 0px;
	}
	.row {
		@include ipad {
			margin-left: 0px;
			margin-right: 0px;
		}
	}
}
.main-item-detail-box {
	.row {
		@include ipad {
			margin-left: 0px;
			margin-right: 0px;
		}
	}
}
.slider-nav-thumbnails .slick-slide {
	opacity: 0.5;
}

.slider-nav-thumbnails .slick-slide.slick-active {
	opacity: 1;
  background: green;
}
.thumb-nav {
	margin-top: 15px;
	.slick-slide {
		opacity: 0.7;
	}
	.slick-center {
		opacity: 1;
	}
	@include ipad {
		display: none !important;
	}
}
.joyit-title-box {
	margin-bottom: 10px;
	.joyit-header {
		text-transform: uppercase;
		font-weight: bold;
		color: $joyit-black;
	}
}
.joyit-price-box {
	margin-bottom: 10px;
	.joyit-price {
		color: $joyit-black;
		font-weight: bold;
		font-size: 24px;
		margin-bottom: 10px;
	}
}
.joyit-cta-box {
	margin-bottom: 10px;
	.joyit-add-wish {
		font-size: 11px;
	}
}
.joyit-list-box {
	margin-top: 11px;
}
.social-icons {
	.fa-facebook {
		color: #3b5998;
		transition: 0.5s all;
		&:hover {
			transition: 0.5s all;
			color: #4E69A2;
		}
	}
	.fa-twitter {
		color: #1da1f2;
		transition: 0.5s all;
		&:hover {
			transition: 0.5s all;
			color: #4ab3f4;
		}
	}
	.fa-envelope-o {
		color: $joyit-black;
		transition: 0.5s all;
		&:hover {
			color: $black-hover;
			transition: 0.5s all;
		}
	}
}
.item-page-ad-box {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	@include desktop {
		position: inherit;
		margin-bottom: 15px;
	}
	@include laptop {
		position: inherit;
		margin-bottom: 15px;
	}
	@include ipad {
		position: inherit;
		margin-bottom: 15px;
	}
}
.description-box {
	background: white;
	padding-top: 1px;
	padding-bottom: 15px;
}
.customer-review-box {
	padding-bottom: 22px;
}
.review-slide {
	text-align: center;
}
.rating {
	unicode-bidi: bidi-override;
	direction: rtl;
	font-size: 28px;
}
.rating > span {
	display: inline-block;
	position: relative;
	width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   color: yellow;
}
.rating-pagination-box {
	text-align: center;
	margin-top: 50px;
}
.arrow-next {
	position: absolute;
	bottom: 0;
	right: 35%;
	font-size: 30px !important;
	cursor: pointer !important;
	z-index: 1;
}
.arrow-prev {
	position: absolute;
	bottom: 0;
	left: 35%;
	z-index: 1;
	font-size: 30px !important;
	cursor: pointer !important;
}
.reserved-text {
	float: right;
	@include ipad {
		text-align: center;
	}
}
.terms-text {
	@include ipad {
		text-align: center;
	}
}

.spinner {
  width: 100px;
}
.spinner input {
  text-align: right;
}
.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  display: table-cell;
}
.input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
}
.input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px;
}
.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}
.input-group-btn-vertical i{
  position: absolute;
  top: 0;
  left: 4px;
}
.profile-summary {
	margin-top: 10px;
	font-size: 20px;
}
.tab-content {
	padding: 10px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	background: $joyit-black;
	color: white;
}
.nav-tabs>li>a {
	color: $joyit-black;
}
.account-info-space {
	margin-top: 7px;
	margin-bottom: 0px;
}
#menu1,#menu2 {
	max-height: 500px;
	overflow-y: auto;
}
.no-ticket {
	margin-top: -10px;
	color: red;
}
