/* ----------------------------------------------------------- */
/*  MEDIA QUERIES SETTINGS
/* ----------------------------------------------------------- */
$desktop-width: 1199px;
$laptop-width: 991px;
$ipad-width: 768px;
$note-width: 480px;
$galaxy-width: 360px;
$iphone-width: 320px;

@mixin desktop {
	@media (max-width: #{$desktop-width}) {
		@content;
	}
}
@mixin laptop {
	@media (max-width: #{$laptop-width}) {
		@content;
	}
}
@mixin ipad {
	@media (max-width: #{$ipad-width}) {
		@content;
	}
}
@mixin note {
	@media (max-width: #{$note-width}) {
		@content;
	}
}
@mixin galaxy {
	@media (max-width: #{$galaxy-width}) {
		@content;
	}
}
@mixin iphone {
	@media (max-width: #{$iphone-width}) {
		@content;
	}
}
/* ----------------------------------------------------------- */
/*  COLORS
/* ----------------------------------------------------------- */
$joyit-gray: #EFEFEF;
$joyit-black: #1b1b1b;

.bg-white {
	background: white;
}
.no-margin {
	margin: 0px;
}
.no-padding {
	padding: 0px;
}
.text-black {
	color: $joyit-black;
}
.row {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	@include ipad {
		display: inherit;
	}

}
.row > [class*='col-'] {
	display: flex;
	flex-direction: column;
	@include ipad {
		display: inherit;
	}
}








