.joyit-btn{background:#343434;color:white;font-weight:bold;transition:0.5s all;letter-spacing:2px;border-radius:0px}.joyit-btn:hover{background:#4e4e4e;transition:0.5s all;color:white}@media (max-width: 768px){.joyit-btn{width:100%}}.wish-btn{background:white;border-radius:0px;border:1px solid #EFEFEF;transition:0.5s all}.wish-btn:hover{background:#EFEFEF;transition:0.5s all}@media (max-width: 768px){.wish-btn{width:100%}}
