.bg-white{background:white}.no-margin{margin:0px}.no-padding{padding:0px}.text-black{color:#1b1b1b}.row{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;flex-wrap:wrap}@media (max-width: 768px){.row{display:inherit}}.row>[class*='col-']{display:flex;flex-direction:column}@media (max-width: 768px){.row>[class*='col-']{display:inherit}}
